html{
    background-color: rgb(40, 40, 43);
}
main{
    background-color: rgb(40, 40, 43);
}
div{
    background-color: rgb(40, 40, 43);
    padding:20px;
            margin:0px;
}
div{
    background-color: rgb(40, 40, 43);
}
